<div style="margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; font-family: 'Arial', Sans-Serif;">
  <div class="e" style="margin-left: auto; margin-right: auto; font-size: 14px; width: 600px;">
      <div style="padding: 0 30px; height: 70px; background-color: #ffffff; display: flex; align-items: center; justify-content: space-between;">
        <a href="https://trevo.my/" target="_blank" style="text-decoration: none;">
        <img src="https://trevo.my/images/logo/primary_h.png" alt style="border: 0; line-height: 100%; vertical-align: middle;" height="32">
        </a>
        <div style="margin-left: auto;">
            <a href="https://trevo.my/guest" target="_blank" style="text-decoration: none; padding-left: 16px; padding-right: 16px; color: #8552f2;">Guest</a>
            <a href="https://trevo.my/host" target="_blank" style="text-decoration: none; color: #8552f2;">Host</a>
        </div>
      </div>
      <div style="padding: 1rem; background-color: #ffffff;">
        <div style="border-color: #718096; border-bottom-width: 1px; margin-bottom: 4px; padding-bottom: 4px;">
            <div style="width: 100%; display: flex; padding-bottom: 8px;">
              <div style="margin-right: auto;">
                  <div style="font-weight: 700;">Issued to</div>
                  <div style="font-weight: 700; color: #8552f2; font-size: 18px;">#{user.displayName}</div>
              </div>
              <div style="margin-left: auto; text-align: right;">
                  <div style="font-weight: 700;">Car Number</div>
                  <div style="font-weight: 700; color: #8552f2; font-size: 18px;">#{car.regNo}</div>
              </div>
            </div>
            <div style="width: 100%; display: flex; padding-bottom: 8px;">
              <div style="margin-right: auto;">
                  <div style="font-weight: 700;">Total</div>
                  <div style="font-weight: 700; color: #8552f2; font-size: 18px;">#{price}</div>
              </div>
              <div style="margin-left: auto; text-align: right;">
                  <div style="font-weight: 700;">Paid on</div>
                  <div style="font-weight: 700; color: #8552f2; font-size: 18px;">#{date}</div>
              </div>
            </div>
        </div>
        <div style="padding-top: 8px; padding-bottom: 8px;">
          <div style="font-weight: 700; padding-bottom: 8px; width: 100%;">Policy Details</div>
            <table style="table-layout: auto; width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
              <tbody style="color: #4a5568;" bgcolor="#e2e8f0">
                  <tr>
                    <td style="padding: 8px;font-weight: 700;">Reference ID</td>
                    <td style="padding: 8px;text-align: right;" align="right">#{policy.refNo}</td>
                  </tr>
                  <tr bgcolor="#edf2f7">
                    <td style="padding: 8px;font-weight: 700;">Car Model</td>
                    <td style="padding: 8px;text-align: right;" align="right">#{car.model}</td>
                  </tr>
                  <tr>
                    <td style="padding: 8px;font-weight: 700;">Car number plate</td>
                    <td style="padding: 8px;text-align: right;" align="right">#{car.regNo}</td>
                  </tr>
                  <tr bgcolor="#edf2f7">
                    <td style="padding: 8px;font-weight: 700;">Insurance package</td>
                    <td style="padding: 8px;text-align: right;" align="right">#{product.name}</td>
                  </tr>
                  <tr>
                    <td style="padding: 8px;font-weight: 700;">Add-Ons</td>
                    <td style="padding: 8px;text-align: left;" align="right">
                      <div>
                        #addons
                        if(addons!==null)
                          ol
                            each addon in addons.length ? addons : ['Not applicable']
                              li= addon
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
        </div>
        <div style="padding-top: 8px; padding-bottom: 8px; margin-bottom: 8px;">
            <div style="font-weight: 700; padding-bottom: 8px; width: 100%;">Payment details</div>
            <table style="table-layout: auto; width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
              <tbody style="color: #4a5568;" bgcolor="#e2e8f0">
                  <tr>
                    <td style="padding: 8px;font-weight: 700;">Payment method</td>
                    <td style="padding: 8px;text-align: right;" align="right">#{payment.paymentMethod.type}</td>
                  </tr>
                  <tr bgcolor="#edf2f7">
                    <td style="padding: 8px;font-weight: 700;">Payment amount</td>
                    <td style="padding: 8px;text-align: right;" align="right">#{price}</td>
                  </tr>
                  <tr style="color: #ffffff;" bgcolor="#8552f2">
                    <td style="padding: 8px;font-weight: 700;">TOTAL</td>
                    <td style="padding: 8px;text-align: right;" align="right">#{price}</td>
                  </tr>
              </tbody>
            </table>
        </div>
        <div style="background: #f8f8f8; padding: 32px;">
            <div style="display: flex; justify-content: space-between;">
              <div>
                  Get Trevo for: <b><a href="https://itunes.apple.com/app/trevo-car-sharing-done-right/id1477029889" target="_blank" style="text-decoration: none;">iPhone</a> | <a href="https://play.google.com/store/apps/details?id=my.trevo.trevoapp" target="_blank" style="text-decoration: none;">Android</a></b>
              </div>
              <div style="display: flex; margin-left: auto;">
                  <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                    <a href="https://www.facebook.com/trevomy" target="_blank" style="text-decoration: none;">
                    <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/fb.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                    </a>
                  </div>
                  <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                    <a href="https://twitter.com/trevo_my" target="_blank" style="text-decoration: none;">
                    <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/twitter.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                    </a>
                  </div>
                  <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                    <a href="https://www.instagram.com/trevomy/" target="_blank" style="text-decoration: none;">
                    <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/instagram.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                    </a>
                  </div>
                  <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                    <a href="mailto:hello@trevo.my" style="text-decoration: none;">
                    <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/email.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                    </a>
                  </div>
              </div>
            </div>
            <div style="border-bottom: 1px solid #dadada; margin-top: 16px; margin-bottom: 16px;"></div>
            <p>This message was sent to [mail]. If you don't want to receive these
              emails from Trevo in the future, you can <a href="#" style="text-decoration: none; color: #8552f2;">edit your profile</a>
              or <a href="#" style="text-decoration: none; color: #8552f2;">unsubscribe</a>
            </p>
            <p>&copy; 2021 Future Mobility Solutions Sdn. Bhd. (1319995-W)</p>
        </div>
      </div>
  </div>
</div>