<div style="margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; font-family: 'Arial', Sans-Serif;">
   <div class="e" style="margin-left: auto; margin-right: auto; font-size: 14px; width: 600px;">
      <div style="padding: 0 30px; height: 70px; background-color: #ffffff; display: flex; align-items: center; justify-content: space-between;">
         <a href="https://trevo.my/" target="_blank" style="text-decoration: none;">
         <img src="https://trevo.my/images/logo/primary_h.png" alt style="border: 0; line-height: 100%; vertical-align: middle;" height="32">
         </a>
         <div style="margin-left: auto;">
            <a href="https://trevo.my/guest" target="_blank" style="text-decoration: none; padding-left: 16px; padding-right: 16px; color: #8552f2;">Guest</a>
            <a href="https://trevo.my/host" target="_blank" style="text-decoration: none; color: #8552f2;">Host</a>
         </div>
      </div>
      <div style="background-color: #8552f2; display: block; font-weight: 700; color: #ffffff;">
         <img src="https://trevo-my.s3.amazonaws.com/trevo-guard/edm-header.jpg" alt style="border: 0; line-height: 100%; vertical-align: middle;">
      </div>
      <div style="padding: 1.5rem; background-color: #ffffff;">
         <p>Hi #{user.displayName},</p>
         <p>Your insurance quotation for <strong>#{quote.car.brand} #{quote.car.model} (#{quote.car.regNo})</strong> is finally ready! Refer below for the details of your request: Please be advised that your quotation will expire within 48 hours.</p>
         <div style="display: flex; margin-bottom: 32px;">
            <div style="background-color: #8552f2; border-radius: 9999px; display: flex; align-items: center; justify-content: center; height: 40px; margin-right: 16px; min-width: 40px; color: #ffffff; width: 40px;"><span style="padding: 0.9rem; padding-top: 0.8rem;">1</span></div>
            <div style="display: flex; flex-direction: column;">
               <h4 style="margin-top: 8px; color: #8552f2;">Quotation Reference ID: #{quote.refNo}</h4>
            </div>
         </div>
         <div style="display: flex; margin-bottom: 32px;">
            <div style="background-color: #8552f2; border-radius: 9999px; display: flex; align-items: center; justify-content: center; height: 40px; margin-right: 16px; min-width: 40px; color: #ffffff; width: 40px;"><span style="padding: 0.9rem; padding-top: 0.8rem;">2</span></div>
            <div style="display: flex; flex-direction: column;">
               <h4 style="margin-top: 8px; color: #8552f2;">Date & Time of Request: #{date}</h4>
            </div>
         </div>
         <div style="display: flex; margin-bottom: 32px;">
            <div style="background-color: #8552f2; border-radius: 9999px; display: flex; align-items: center; justify-content: center; height: 40px; margin-right: 16px; min-width: 40px; color: #ffffff; width: 40px;"><span style="padding: 0.9rem; padding-top: 0.8rem;">3</span></div>
            <div style="display: flex; flex-direction: column;">
               <h4 style="margin-top: 8px; color: #8552f2;">Insurance package: #{quote.product.name}</h4>
            </div>
         </div>
         <div style="display: flex; margin-bottom: 32px;">
            <div style="background-color: #8552f2; border-radius: 9999px; display: flex; align-items: center; justify-content: center; height: 40px; margin-right: 16px; min-width: 40px; color: #ffffff; width: 40px;"><span style="padding: 0.9rem; padding-top: 0.8rem;">4</span></div>
            <div style="display: flex; flex-direction: column;">
               <h4 style="margin-top: 8px; color: #8552f2; width: 100%;">Add-Ons:</h4>
               <div style="width: 100%;">
                  #addons
                     if(addons!==null)
                        ol
                           each addon in addons.length ? addons : ['Not applicable']
                              li= addon
               </div>
            </div>
         </div>
         <p>Please be advised that your quotation will expire within 48 hours. Check it out on the TREVO app now!</p>
         <div style="padding: 2rem 0; margin-top: 2rem; text-align: center;">
            <a href="http://go.trevo.my/V4xbpo9Rnfb" style="text-decoration: none; display: inline-block;">
               <div type="button" name="button" style="background-color: #ffff1b; border-radius: 8px; font-weight: 700; padding-top: 16px; padding-bottom: 16px; padding-left: 32px; padding-right: 32px; color: #333333; font-size: 12px; text-transform: uppercase;">VIEW MY QUOTATION</div>
            </a>
         </div>
      </div>
      <div style="background: #f8f8f8; padding: 32px;">
         <div style="display: flex; justify-content: space-between;">
            <div>
               Get Trevo for: <b><a href="https://itunes.apple.com/app/trevo-car-sharing-done-right/id1477029889" target="_blank" style="text-decoration: none;">iPhone</a> | <a href="https://play.google.com/store/apps/details?id=my.trevo.trevoapp" target="_blank" style="text-decoration: none;">Android</a></b>
            </div>
            <div style="display: flex; margin-left: auto;">
               <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                  <a href="https://www.facebook.com/trevomy" target="_blank" style="text-decoration: none;">
                  <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/fb.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                  </a>
               </div>
               <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                  <a href="https://twitter.com/trevo_my" target="_blank" style="text-decoration: none;">
                  <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/twitter.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                  </a>
               </div>
               <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                  <a href="https://www.instagram.com/trevomy/" target="_blank" style="text-decoration: none;">
                  <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/instagram.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                  </a>
               </div>
               <div style="display: flex; justify-content: center; padding-left: 8px; padding-right: 8px;">
                  <a href="mailto:hello@trevo.my" style="text-decoration: none;">
                  <img src="https://trevo-my.s3-ap-southeast-1.amazonaws.com/general/email.png" width="20px" alt style="border: 0; line-height: 100%; vertical-align: middle;">
                  </a>
               </div>
            </div>
         </div>
         <div style="border-bottom: 1px solid #dadada; margin-top: 16px; margin-bottom: 16px;"></div>
         <p>This message was sent to [mail]. If you don't want to receive these
            emails from Trevo in the future, you can <a href="#" style="text-decoration: none; color: #8552f2;">edit your profile</a>
            or <a href="#" style="text-decoration: none; color: #8552f2;">unsubscribe</a>
         </p>
         <p>&copy; 2021 Future Mobility Solutions Sdn. Bhd. (1319995-W)</p>
      </div>
   </div>
</div>